.App {
  text-align: center;
}

.App-header {
  padding: 0 2vw;
  background-color: #efefef59;
  min-height: 1rem;
  text-align: right;
  font-size: calc(10px + 1vmin);
  color: #969696;
  font-family: raleway;
}

.App-header img {
  filter: grayscale(50%);
}
