body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.category-container {
  -webkit-column-count: 4;
  /* Chrome, Safari, Opera */
  -moz-column-count: 4;
  /* Firefox */
  column-count: 4;
  margin: 0 10em;
}

.category-container ul {
  margin: 0;
  list-style-type: none;
}

.category-container ul li {
  text-transform: capitalize;
}

.category-container ul li:hover {
  text-transform: capitalize;
  cursor: pointer;
  color: orange;
}

.category-container ul li.selected {
  color: red;
}

.jokes-list{
  list-style-type: none;
}

.jokes-list li:nth-child(odd) {
  background-color: #eeeeee;
}

.info{
  color: gray;
  font-size: 0.7em;
}
.countInput {
  margin: 0 0.7em
}