body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;*/
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  margin: 0 !important;
}

h2 {
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.category-container {
  -webkit-column-count: 4;
  /* Chrome, Safari, Opera */
  -moz-column-count: 4;
  /* Firefox */
  column-count: 4;
  margin: 2rem auto 3rem auto;
  max-width: 850px;
}

.category-container ul {
  margin: 0;
  list-style-type: none;
}

.category-container ul li {
  text-transform: capitalize;
}

.category-container ul li:hover {
  text-transform: capitalize;
  cursor: pointer;
  color: #dc143c;
}

.category-container ul li.selected {
  color: red;
  font-weight: 800;
}

ul.jokes-list {
  list-style-type: none;
  padding: 0;
}

ul.jokes-list li {
  background-color: #fbfbfb;
  font-weight: 300;
  word-wrap: break-word;
  padding: 1rem 1rem;
  margin: 1rem auto;
  width: 70vw;
  border-radius: 0.3rem;
}

ul.jokes-list-dark li {
  -webkit-box-shadow: 0px 4px 6px -2px rgb(228, 228, 228);
  -moz-box-shadow: 0px 4px 6px -2px rgb(228, 228, 228);
  box-shadow: 0px 4px 6px -2px rgb(228, 228, 228);
}
ul.jokes-list-light li {
  -webkit-box-shadow: 0px 4px 6px -2px rgb(228, 228, 228);
  -moz-box-shadow: 0px 4px 6px -2px rgb(228, 228, 228);
  box-shadow: 0px 4px 6px -2px rgb(228, 228, 228);
  border: 1px solid #8080801c;
  background-color: white;
}

.info {
  color: gray;
  font-size: 0.7em;
}

.info-error {
  color: #dc1414;
}

.count-input {
  margin: 0 0.7em;
  padding: 0 0 0 1em;
}

.count-setter-component {
  margin: 1rem 0rem 2rem 0rem;
}

.special-joke {
  font-family: 'Staatliches', sans-serif;
  font-size: calc(3vh + 3vw);
  padding: 12vh 3vw 1vh 3vw;
  max-width: 2000px;
  margin: 0 auto;
  word-wrap: break-word;
  text-shadow: 3px 2px 5px #3333335c;
}

.special-joke-block {
  background-color: crimson;
  color: white;
  box-shadow: 0px 2px 3px 0px rgb(195, 195, 195);
  -webkit-box-shadow: 0px 2px 3px 0px rgb(195, 195, 195);
  -moz-box-shadow: 0px 2px 3px 0px rgb(195, 195, 195);
}

.category-block {
  padding: 1.5rem 1rem 3rem 1rem;
}

.btn-another-joke {
  background-color: crimson;
  color: white;
  font-weight: 300;
  font-size: calc(2vh + 2vw);
  padding: 10px 7px 7px 7px;
  margin-bottom: 9vh;
  line-height: 85%;
  border-radius: 10px;
  border: 1px solid white;
  border-bottom: 4px solid white;
  border-right: 3px solid white;
}

.btn-another-joke:focus {
  outline: 0;
}

.btn-another-joke:active {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding-bottom: 7px;
  margin-top: 3px;
  margin-left: 2px;
}

.joke-search {
  margin: 0 auto;
  width: 65vw;
  margin-bottom: 1em;
  box-shadow: 0px 6px 15px 0px rgb(228, 228, 228);
  -webkit-box-shadow: 0px 6px 15px 0px rgb(228, 228, 228);
  -moz-box-shadow: 0px 6px 15px 0px rgb(228, 228, 228);
}

.search-icon-box {
  padding: 0.375rem 0.5rem 0.375rem 0.7rem;
  background-color: crimson;
}

.search-icon {
  -webkit-transform: rotate(170deg);
  -moz-transform: rotate(170deg);
  -o-transform: rotate(170deg);
  transform: rotate(170deg);
  font-size: xx-large;
  line-height: 0;
  color: white;
  font-weight: 800;
}

.search-block {
  min-height: 80vh;
  padding: 1.5rem 1rem 3rem 0;
  background-color: #f9f9f9;
}

.search-input {
  border: 2px solid white;
}

.categories-select {
  display: none;
  margin: 1.2rem auto 0 auto;
  width: 70vw;
  background-color: white;
  border: 1px solid #8080808c;
  border-radius: 1px;
  height: 2.5rem;
  text-transform: capitalize;
}

footer {
  line-height: 2rem;
}

@media screen and (max-width: 600px) {
  .category-container {
    display: none;
  }
  .categories-select {
    display: block;
  }
}

@media screen and (min-width: 1300px) {
  .special-joke {
    font-size: calc(39px + 3vh);
  }
  .btn-another-joke {
    font-size: calc(26px + 2vh);
  }
}
