.container {
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Nimbus Sans D OT", sans-serif;
}

.category-button {
  padding: 10px 30px;
  background: #143450;
  color: white;
  font-family: "Nimbus D OT", sans-serif;
  font-size: 15px;
  cursor: pointer;
  width: 120px;
}