.joke-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: white;
    border: solid 1px gray;
    width: 222px;
    height: 243px;
    margin-bottom: 29px;
}

.joke {
    font-family: "Nimbus Sans D OT", sans-serif;
    color: black;
}
