.random-joke-button {
    margin-top : 1rem;
    background: none;
    border : 2px solid red;
    border-radius: 3px;
    height: 2rem;
    font-size: 1rem;
}

.random-joke-button:hover {
    cursor: pointer;
    background-color: red;
    color : white;
}

.category-item {
    font-size: 1rem;
}
.category-item:hover {
    font-size: 1.5rem;
    cursor: pointer;
}
