.jokes-background {
  margin-top: -55px;
  margin-left: 400px;
  margin-right: 50px;
}

.jokes-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 110px;
}
