.jokes-background {
    margin-top: -55px;
    width: 100%;
    height: 100%;

}

.jokes-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1px 175px;
    margin-top: 110px;
 }
