.jokes-background {
  margin: 25px 0 0 380px;
  width: 100%;
}

.jokes-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  padding: 10px 30px;
  background: #db374d;
  color: white;
  font-family: "Nimbus D OT", sans-serif;
  font-size: 15px;
  cursor: pointer;
  width: 140px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.input-field {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  font-size: 15px;
  padding: 10px 30px;
  margin-bottom: 30px;
}