.header {
  display: flex;
  width: 80%;
}

.logo-container {
  width: 20%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  width: 60%;
}
.display-number-bar {
  width: 20%;
}

.search-bar,
.display-number-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus {
  outline: none;
}

.search-bar input,
.display-number-bar input {
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  width: 50%;
  border: 1px solid #dbdbdb;
}

.search-bar input:focus,
.display-number-bar input:focus {
  box-shadow: 0 0 1px 1px #8cbfff;
  border: 1px solid #8cbfff;
}

.logo {
  width: 60px;
  height: 60px;
}
