.header {
    padding: 15px;
    background-color: #ff3030; 
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 45px;
    padding-left: 45px;
    width : 100%;
    display: flex;
    flex-direction: row;
    max-width : 1350px;
}

.rowLogo, .rowInputs {
    padding-left : 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;

}

.rowLogo {
    flex-basis: 20%;
}
.rowInputs {
    flex-basis: 80%;
}

.flex-75 {
    flex-basis: 75%;
}


.headerInput, .headerDisplay {
    height: 2.5rem;
    padding: 1px 2px;
    font-size: 1rem;
    border: 1px solid #dbdbdb;
}

.headerInput {
    width: 100%;
}

.headerDisplay {
    width: 25%;
}

.headerInput:focus, .headerDisplay:focus {
    box-shadow: 0 0 1px 1px #8cbfff;
    border: 1px solid #8cbfff;
}

input:focus {
    outline: none;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}

.logo:hover {
    cursor: pointer;
}

.text-display {
    flex-grow : 0;
}